<!DOCTYPE html>
<html>
	<head>
		<title>Notícias</title>
		<meta charset="UTF-8">
		<link rel="icon" href="/view/resources/images/favicon.png">
		<link rel="stylesheet" href="/view/resources/styles/reset.css">
		<link rel="stylesheet" href="/view/resources/styles/site.css">
		<link rel="stylesheet" href="/view/resources/styles/news-list.css">
	</head>
	<body>
		<header id="site-header">
			<figure>
				<img alt="Logotipo colarinho branco" src="/view/resources/images/logo.gif" id="site-logo">
				<figcaption id="site-name">Colarinho branco</figcaption>
			</figure>			
			<h1 id="page-title">Notícias</h1>			
		</header>	
		<aside>
			<nav id="site-navbar">
  				<ul>
					<li><a href="/news">Notícias</a></li>
					<li><a href="/news/create">Enviar</a></li>			
  				</ul>
			</nav>
		</aside>	
		<main>	
			<div id="site-content">
			<% for(var i in noticias) {
			 	if (i % 2 === 0) { %>
				<article class="news-headline odd">
			<%  } else { %>
				<article class="news-headline even">
			<%	} %>
					<h2 class="news-headline-title">
					  <a href="./news/show/<%= noticias[i].id %> "><%= noticias[i].title %></a>
					</h2>
					<a href="./news/show/<%= noticias[i].id %> "><img src="<%= noticias[i].headline_image %>" class="news-headline-image"></a>
					<time datetime="<%= noticias[i].date %>" class="news-headline-time"><%= noticias[i].date;  %></time>
					<p><%= noticias[i].content %></p>
				</article>
			<% } %>
				
				
			</div>
		</main>
		<footer id="site-footer">
			&copy; Caio Holanda Costa 2017
		</footer>
	</body>
</html>