<!DOCTYPE html>
<html>
	<head>
		<title>Notícia</title>
		<meta charset="UTF-8">
		<link rel="icon" href="/view/resources/images/favicon.png">
		<link rel="stylesheet" href="/view/resources/styles/reset.css">
		<link rel="stylesheet" href="/view/resources/styles/site.css">
		<link rel="stylesheet" href="/view/resources/styles/news-show.css">
	</head>
	<body>
		<header id="site-header">
			<figure>
				<img alt="Logotipo colarinho branco" src="/view/resources/images/logo.gif" id="site-logo">
				<figcaption id="site-name">Colarinho branco</figcaption>
			</figure>			
			<h1 id="page-title">Notícia</h1>			
		</header>	
		<aside>
			<nav id="site-navbar">
				<ul>
					<li><a href="/news">Notícias</a></li>
					<li><a href="/news/create">Enviar</a></li>			
				</ul>
			</nav>
		</aside>	
		<main>	
			<div id="site-content">
				<article class="news">
					<h1 class="title"><%= noticia[0].title %></h1>
					<h2 class="subtitle">
						<%= noticia[0].headline_content %>
					</h2>
					<img src="">
					<img src="<%= noticia[0].headline_image %>" alt="<%= noticia[0].title %>">					
					<p>
						<%= noticia[0].content %>						
					</p>
				</article>
			</div>
		</main>
		<footer id="site-footer">
			&copy; Caio Holanda Costa 2017
		</footer>
	</body>
</html>